# API Keys
OPENAI_API_KEY=
GEMINI_API_KEY=
GROK_API_KEY=
DEEPSEEK_API_KEY=

# Google Search (For Deep Research)
GOOGLE_SEARCH_API_KEY=
GOOGLE_SEARCH_CX=

# Configuration
ACTIVE_PROVIDER=openai
MONGO_URI=mongodb://localhost:27017
MODEL=gpt-4o
